{{!-- video selector --}}
<div aria-hidden="true" class="modal" id="videoSelectorFormModal">
  <div class="modal-dialog modal-lg video-selector-modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
        <h4 class="modal-title">{{t 'video.selector'}}</h4>
      </div>
      <div class="modal-body">
        <div class="video-uploader-messages"></div>

<div>
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#videoUploadTab" aria-controls="videoUploadTab" role="tab" data-toggle="tab">{{t 'video.uploader.title'}}</a></li>
  </ul>
  <div class="tab-content">
    <br>
    <div role="tabpanel" class="tab-pane active" id="videoUploadTab">.
      <span class="btn btn-success fileinput-button">
        <span class="glyphicon glyphicon-plus"></span>
        <label for="file-upload-video-field">{{t 'video.upload.selector.btn'}}</label>
        <input id="file-upload-video-field" class="videoupload fileupload" type="file" data-url="/api/v1/video" name="video" accept="video/*">
      </span>

      <br>
      <br>
      <div class="progress" style="display:none;">
        <div class="progress-bar progress-bar-success"></div>
      </div>
    </div>
  </div>
</div>
      </div>
    </div>
  </div>
</div>
